/* 
 * University of Arizona
 * CSC337 HW6 : Gerrymandering
 * Author: Vincent Xu
 * NetID: rongxinxu
 * Due Date: 10/17/2018
 *  
 *  This given css file for the layout of "gerrymandering.html"
 *		- dem: blue
 * 		- gop: red
*/
.dem, .gop {
	height: 30px;
	margin-bottom: 5px;
}

.dem {
	background-color: blue;
}

.gop {
	background-color: red;
}

body {
	width: 80%;
	margin: auto;
}

#searchdiv, h1 {
	text-align: center;
}